/node_modules
/typings
/build
/buildjs
test/CertStore/cash_cert_store.json
test/CertStore/MY/privkey.key
test/CertStore/MY/privkey_s.key
test/CertStore/MY/pubkey_s.key
logger.txt
test/decAssym.txt
test/encAssym.txt
test/encSym.txt
test/decSym.txt