/node_modules
/typings
/build
/buildjs
logger.txt
test/decAssym.txt
test/encAssym.txt
test/encSym.txt
test/decSym.txt
test/testsig.sig
test/CertStore
test/privkey.key
test/privkey_s.key
test/pubkey_s.key